@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,700,900');

* {
	font-family: 'Work Sans', sans-serif;
}

//COLORS
$grey: #7F7F7F;
$grey-blue: #142A38;
$accent: #841257;
$red: #F22613;
$green: #20bf6b;
$bg: #F8F9FA;


// GENERAL


div.block {
	background: white;
	padding:20px;
	@extend .z-depth-1;
	width:100%;
	transition: opacity 0.1s ease-out;
	height:auto;
	margin-top: 30px;
	margin-bottom:30px;
	h4:not(.no-underline) {
		margin-bottom:20px;
		position: relative;
		padding-bottom:10px;
		display: inline-block;
	}
	h4:not(.no-underline):before {
		content: "";
	    position: absolute;
	    width: 30%;
	    height: 5px;
	    bottom: 0;
	    left: 0;
	    border-bottom: 3px solid $accent;
	}
}

div.block:first-of-type {
	// margin-top:0;
}

.pagination {
	-webkit-box-pack: center !important;
	-ms-flex-pack: center !important;
	justify-content: center !important;
	.page-item:last-child .page-link, .page-item:first-child .page-link{
		border-radius: 0!important;	
	}	
	.page-link {
		color: $accent!important;
	}
	.page-item.disabled .page-link{
		color: #6c757d!important;
		cursor: not-allowed;
		&:hover {
			cursor: not-allowed;
		}		
	}
	.active span {
		background-color: $accent!important;
		border-color: $accent!important;
		color: white!important;
	}
}

table.table {
	margin-bottom:0;
	th {
		border-top: none;
	}
}

table.inventory-table, table.order-table {
	tbody tr:hover {
		cursor: pointer;
	}
}

table.settings-table {
	tr {
		a {
			display:block;
		}
		@extend .transition-veryfast;
		&:hover {
			background: white;
			cursor: pointer;
		}
	}
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0,0,0,.01);
}

.table-striped tbody tr:hover {
    background-color: rgba(0,0,0,.05);
}



.variants-to-add table {
	tbody tr td {
		vertical-align: middle!important;
	}
}

.hide {
	opacity: 0;
	height:0!important;
	overflow: hidden;
	padding:0!important;
	margin:0!important;
}

.alerts-holder {
	.alert {
		border-radius: 0px;
		border: none;
	}
	position:fixed;
	top:80px;
	right:30px;
	z-index: 2000;
}

.alert-success, .alert-error{
	background-color: $green;
	color: white;
	.span {
		color: white;
		&:hover {
			color: $grey;
		}
	}
}

.alert-error {
	background-color: $red;
}

.dropdown-menu {
	@extend .z-depth-1-half;
	border-radius: 0px;
	border: none;
	.dropdown-item {
		cursor: pointer!important;
	}
	.dropdown-item:active {
		background: black;
	}
	.dropdown-item.delete:active {
		background: $red;
		color: white;
	}
}

.modal-content{
	border-radius: 0px;
	border: none;
	box-shadow: none;
	border-top: 5px $accent solid;
}

.modal-body {
	padding-top: 0;
	padding-bottom:25px;
}
.modal-backdrop.in {
    opacity: 0.9;
}

.modal-header {
	border-bottom: none;
}

.sortable-handle {
	color: grey;
	transition: 0.1s ease;
	cursor: ns-resize;
	&:hover {
		color: black;
	}
	&:active {
		color: black;
	}
}

div.empty-state {
	svg {
		fill: $grey;
		height:200px;
	}
}

.header-image-block {
	h4 {
		margin-top: 20px;
		margin-left: 20px;
		margin-right: 20px;
	}
	div.square-container {
		position:relative;
		overflow:hidden;
		padding:0;
		padding-bottom:100%;
	    margin:0;
	    img {	
			position: absolute;
			max-width: 100%;
			max-height: 100%;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
		}
	}
	
    padding:0px!important;
}

.list-group-item:last-child, .list-group-item:first-child, .list-group-item  {
	border-radius: 0;
	background: $bg;
	transition: 0.1s ease;
	&:hover {
		@extend .z-depth-1;
		cursor: pointer;
	}
}
.dz-image-preview, .dz-image {
	display: block!important;
	margin-left: auto!important;
	margin-right: auto!important;
	border-radius: 0px!important;
	img {
		border-radius: 0px!important;
	}
}

.dropzone {
	border: 1px dashed $grey!important;
}

.item .badge, .nav-item .badge {
	position:absolute;
	margin-left:48px;
	background: $accent;
	color:white;
	margin-top:-3px
}

.nav-item .badge {
	margin-left: 37px;
}

.tabs {
	.active {
		color: $accent;
		font-weight: 700;
	}
	a {
		margin-right:15px;
	}
}

.with-partition {

	.modal-body {
		padding: 0;
	}
	.card-partition {
		padding: 1rem;
		-webkit-box-shadow: 0 4px 7px -2px gray;
		box-shadow: 0 4px 7px -2px gray;
		position:relative;
	}
	.card-subpartition {
		padding: 1rem;
		padding-top: 30px;
		background: $bg;
	}
}


// Forms
input.form-control, textarea.form-control {
	border-radius: 0px!important;
	-webkit-appearance: none;
	&:focus {
		outline: none;
		box-shadow: none;
		border-color: black;
	}
}

select.form-control {
	-webkit-appearance: none;
    -moz-appearance: none;
    background-position: right 50%;
    background-repeat: no-repeat;
    border-radius: 0;
    background-image: url(data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%20%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%20%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2214px%22%20height%3D%2212px%22%20viewBox%3D%220%200%2014%2012%22%20enable-background%3D%22new%200%200%2014%2012%22%20xml%3Aspace%3D%22preserve%22%3E%20%3Cpolygon%20points%3D%223.862%2C7.931%200%2C4.069%207.725%2C4.069%20%22/%3E%3C/svg%3E);
    padding-right: 1.5em;
    &:focus {
		outline: none!important;
		box-shadow: none!important;
		border-color: black;
	}
}

.form-check-input {
	margin-top:.25rem;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

form .has-error, form .error {
	border-color: red;
}

/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
	input {display:none;}
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .2s;
	transition: .2s;

	&:before {
		position: absolute;
		content: "";
		height: 26px;
		width: 26px;
		left: 4px;
		bottom: 4px;
		background-color: white;
		-webkit-transition: .2s;
		transition: .2s;
	}
}

input:checked + .slider {
  background-color: $accent;
}

input:focus + .slider {
  box-shadow: 0 0 1px $accent;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.input-group-text {
	border-radius: 0;
}



// Typography
a {
	color: $accent;
	&:hover {
		text-decoration: none;
	}
}

h1 {
	font-weight:900;
	letter-spacing:2px;
	text-transform: uppercase;
}

h5 a {
	color:#7F7F7F;
	&:hover {
		color:$accent;
		text-decoration: none;
	}
}

h4.with-underline, h1.with-underline {
	margin-bottom:20px;
	position: relative;
	padding-bottom:10px;
	display: inline-block;
}
h4.with-underline:before, h1.with-underline:before {
	content: "";
    position: absolute;
    width: 30%;
    height: 5px;
    bottom: 0;
    left: 0;
    border-bottom: 3px solid $accent;
}

.note, .caption {
	color: $grey;
	font-size: 0.8em;
} 

p.error-note, label.error {
	color: $red;
	font-size:0.8rem;
	margin-left:5px;
}

p.error-note {
	margin-bottom:30px;
}

.payment_method .error, .payment_method .error-note {
	margin-top: 30px;
	margin-bottom:0;
}

.caption {
	letter-spacing:1px;
	margin-bottom:0.5rem;
	margin-top:2rem;
	text-transform: uppercase;
}

.modal-title {
	@extend .caption;
	margin-top:0px;
	font-size:1.1rem;
}

.text-bold {
	font-weight: 700;
}

.text-red {
	color: $red;
}

.text-green {
	color: $green;
}

.text-grey {
	color: $grey;
}

// Buttons
a.button, input.button, button, .modal button[type="submit"]{
	padding: 8px 16px;
	background: $accent;
	color:white;
	font-weight:400;
	font-size:1em;
	letter-spacing:1px;
	transition:  0.2s ease-in;
	outline: none;
	border-style: none;
	&:hover {
		color:white;
		text-decoration: none;
		@extend .z-depth-2;
		cursor: pointer;
	}
}

button:focus, a:focus {
	outline: none;
}

button.close:hover {
	box-shadow: none;
}

button:disabled, button.disabled {
	background: $grey!important;
	&:hover {
		box-shadow: none!important;
		cursor: not-allowed;
	}
}

a.button.secondary, button.button.secondary {
	background: $grey;
}

a.button.error {
	background: $red;
	color: white;
}

a.close.delete-variant span{
	transition-duration: 0.1s;
	&:hover {
		color: $red;
	}
}

a.close.delete-variant.highlight {
	color: $red;
}

.button.delete {
	background-color: $red!important;
	color:white!important;
	cursor: pointer;
}

button.button.ghost, a.ghost {
	box-shadow: none;
	background: white;
	border: 1px solid $grey;
	color: $grey;
	&.active {
		color: $accent;
		border-color: $accent;
	}
	&:hover {
		box-shadow: none;
		cursor: pointer;
		color: $accent;
		border-color: $accent;
	}
}

tr .button {
	background: none;
	color: $accent!important;
	&:hover {
		background: $accent;
		color: white!important;
	}
}

div.option-dropdown {
	width:30px;
	height:30px;
	font-size: 1.5em;
	transition: 0.1s ease;
	text-align: center;
	color: $grey;
	&:hover {
		cursor: pointer;
		color: black;
	}
}

.dropright.active .option-dropdown {
	color: black;
}

td {
	.option-dropdown {
		font-size: 1em;
		height: 18px;	
	}
	.dropdown-menu {
		top: -12px!important;
	}
}

tr.active {
	background: #ECECEC;
}


//Transitions
.transition-veryfast {
	transition:All 0.5s ease;
	-webkit-transition:All 0.5s ease;
	-moz-transition:All 0.5s ease;
	-o-transition:All 0.5s ease;
}

.transition-fast {
	transition:All 1s ease;
	-webkit-transition:All 1s ease;
	-moz-transition:All 1s ease;
	-o-transition:All 1s ease;
}


// Z-levels
.z-depth-0 {
  box-shadow: none !important;
}
.z-depth-1{
	-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}
.z-depth-1-half{
	-webkit-box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
	box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);

}
.z-depth-2{
	-webkit-box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
	box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
}
.z-depth-3{
	-webkit-box-shadow: 0 8px 17px 2px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
	box-shadow: 0 8px 17px 2px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
}
.z-depth-4{
	-webkit-box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -7px rgba(0,0,0,0.2);
	box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -7px rgba(0,0,0,0.2);
}
.z-depth-5{
	-webkit-box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2);
	box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2);
	box-shadow: 0 0 black;
}

.hoverable:hover {
  transition: box-shadow .25s;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}




//Admin
.admin{
	background: #F8F9FA;
	.navbar {
		// box-shadow: none;
		border-bottom: 0px;
		background: white!important;
		z-index:4;
		margin-left:80px;
		padding-left:30px;
		.dropdown-menu {
			right:0!important;
			left: auto;
			border-radius: 0px;
			border: 0px;
		}
	}

	.sidebar {
		width:80px;
		padding-top:0px;
		background-color: $grey-blue;
		height:100vh;
		position:fixed;
		top:0;
		z-index:1;
		a p {
			font-size:0.8em;
			color:#7F7F7F;
			&:hover {
				text-decoration: none;
				color:black;
			}
		}
		a:hover {
			text-decoration: none;
		}
		.item:not(.logo) {
			width:100%;
			height:80px;
			padding-top:10px;
			svg{
				width:40px;
				fill: #7F7F7F;
			}
			&:hover {
				cursor: pointer;
				svg {
					fill: white!important;
				}
				a p {
					text-decoration: none;
					color: white;
				}
			}
		}
		.logo {
			padding:2px;
		}

		.active {
			p {
				font-weight: 700;
				color:white;
			}
			svg {
				fill: white!important;
			}
		}
	}

	.navbar {
		.nav-item:not(.logo, .dropdown) {
			width:60px;
			height:40px;
			padding-top:5px;
			svg{
				width:30px;
				fill: #7F7F7F;
			}
			a p {
				display:none;
			}
			&:hover {
				cursor: pointer;
				svg {
					fill: white!important;
				}
			}
		}
		.active {
			
			svg {
				fill: white!important;
			}
		}
	}

	.content {
		padding-left:80px;
		width:100%;
		padding-top: 56px;
		padding-bottom:100px;

		.page-header {
			position: relative;
			background: white;
			padding-left:30px;
			z-index:3;
			padding-bottom:20px;
		}
	}
}


//mobile
@media screen and (max-width: 767px) {
    .admin {
    	.navbar, .content .page-header, .navbar a {
			background: $grey-blue!important;
			color: white!important;
		}
		.content {
			padding-left: 0;
		}
		.navbar {
			margin-left: 0;
			padding-left: 0;
		}
    }
}



//order page css
body.order_page {
	background: $grey-blue;
	.header {
		padding: 50px 20px;
		color: white;
		width:100vw;
		position:fixed;
		top:0;
		z-index:1;
		h1 {
			z-index:2;
			transition: all 0.2s ease-out;
		}

		h1.scrolled-down {
			color:$grey;
			font-size:1.5rem;
		}
	}
	div.body {
		background: white;
		border-radius: 20px 20px 0px 0px;
		width: 100vw;
		margin-top:150px;
		z-index:3;
		padding-top:50px;
		padding-bottom:100px;

		h2 {
			font-weight:700;
		}
		h2:not(.no-underline) {
			margin-bottom:20px;
			position: relative;
			padding-bottom:10px;
			display: inline-block;
		}
		h2:not(.no-underline):before {
			content: "";
		    position: absolute;
		    width: 30%;
		    height: 5px;
		    bottom: 0;
		    left: 0;
		    border-bottom: 3px solid $accent;
		}

		.card {
			border-radius: 0;
			border: none;
			padding:0px!important;
			transition: 0.1s ease;
			img {
				max-height:575px;
				max-width:575px;
			}
			&:hover {
				cursor: pointer;
				@extend .z-depth-2;
			}
		}

		.modal-dialog {
			width: 100vw!important;
			max-width: 100vw!important;
			margin-top:0;
			margin-bottom:0;
		}

		.product-modal {
			.modal-content {
				min-height: 100vh;
				.modal-body{
				    max-height: calc(100vh - 50px);
				    overflow-y: auto;
				}
				h2 {
					margin-top:50px;
				}
				h6 {
					color: $grey;
				}
				button.close {
					font-size: 2.5rem;
				}
				.img-div {
					padding: 20px;
				}
				img {
					max-height: 80vh;
					max-width: 100%;
				}
				button.add-to-cart:hover{
					cursor: pointer;
				}
				button.add-to-cart:disabled:hover{
					cursor: not-allowed;
				}
			}
		}

	}

	.body-shadow {
		-webkit-box-shadow: 0px -7px 36px -5px rgba(0,0,0,0.47);
		-moz-box-shadow: 0px -7px 36px -5px rgba(0,0,0,0.47);
		box-shadow: 0px -7px 36px -5px rgba(0,0,0,0.47);
	}

	.view-cart{
		width:100vw;
		background: white;
		z-index:100;
		position:fixed;
		bottom:0;
		padding-top: 10px;
		padding-bottom: 10px;
		transition: 0.1s ease-in;
		color: $accent;
		@extend .z-depth-2;
		h4 {
			margin-bottom:0;
		}
		&:hover{
			background: $accent;
			cursor: pointer;
			color: white;
		}		
	}

	.cart-modal {
		.modal-body	{
			padding-left: 15%;
			padding-right: 15%;
			h1.with-underline {
				margin-bottom:20px;
				position: relative;
				padding-bottom:10px;
				display: inline-block;
				color: black;
			}
			h1.with-underline:before {
				content: "";
			    position: absolute;
			    width: 30%;
			    height: 5px;
			    bottom: 0;
			    left: 0;
			    border-bottom: 3px solid $accent;
			}
			button.remove {
				background: white;
				border: 1px solid $grey;
				color: $grey;
				&:hover {
					background: $red;
					border-color: $red;
					color: white;
				}
			}
		}
	}

	.checkout {
		.form-group {
			width:100%;
		}
		.form-row {
			margin-left: -20px;
			margin-right: -20px;
		}
	}

	.shipping, .checkout {
		.shipping-method, .payment-method {
			display:block;
		}
		.shipping-method > input, .payment-method > input{ /* HIDE RADIO */
		    visibility: hidden; /* Makes input not-clickable */
		    position: absolute; /* Remove input from document flow */
		}
		.shipping-method > input + div.block, .payment-method > input + div.block { /* DIV STYLES */
			@extend .transition-veryfast;
			&:hover {
				cursor: pointer;
				@extend .z-depth-2;
			}
		}
		.shipping-method > input:checked + div.block, .payment-method > input:checked + div.block { /* (RADIO CHECKED) DIV STYLES */
		    background-color: $accent;
			color: white;
			.text-grey { 
				color: #eaeaea;
			}
			h4:not(.no-underline):before {
				border-color: white;
			}
		}
		
		//table row in cart for shipping
		.shipping-mode {
			display: none;
		}

		.shipping-mode.selected {
			display:table-row;
		}
	}
}


//view order CSS
.view_order {
	.block{
		padding:0;
		margin-top:0;
		box-shadow: none;
	}

	.status {
		padding-left:20vw;
		padding-right:20vw;
		i {
			font-size:2.5em;
		}
		h6 {
			margin-top:10px;
		}
		.active {
			color: $green;
		}
	}

}



//check order status page
.check_order_status {
	div.row {
		min-height:100vh;
		div.form {
			padding-left: 20vw;
			padding-right:20vw;
		}
	}
}

@media screen and (max-width: 576px) {
    .order_page {
    	.row {
    		margin-left: 0px;
    		margin-right: 0px;
    	}

    	div.body {
			.modal-dialog {
				margin-left: 0px;
	    		margin-right:0px;
			}
			.modal-content {
	    		img {
		    		max-width: 100%;
		    	}
	    	}
		}
    	.cart-modal .modal-body {
    		padding-left:0!important;
    		padding-right:0!important;
    	}
    }
    .view_order {
    	.status {
			padding-left:0;
			padding-right:0;
		}
    }
    .check_order_status {
		div.form {
			padding-left: 0!important;
			padding-right:0!important;
		}
	}
}






/*!
 * Datepicker v0.6.4
 * https://github.com/fengyuanchen/datepicker
 *
 * Copyright (c) 2014-2017 Chen Fengyuan
 * Released under the MIT license
 *
 * Date: 2017-11-24T14:38:19.628Z
 */

.datepicker-container {
  background-color: #fff;
  direction: ltr;
  font-size: 12px;
  left: 0;
  line-height: 30px;
  position: fixed;
  top: 0;
  -ms-touch-action: none;
  touch-action: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 210px;
  z-index: -1;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.datepicker-container::before,
.datepicker-container::after {
  border: 5px solid transparent;
  content: " ";
  display: block;
  height: 0;
  position: absolute;
  width: 0;
}

.datepicker-dropdown {
  border: 1px solid #ccc;
  -webkit-box-shadow: 0 3px 6px #ccc;
  box-shadow: 0 3px 6px #ccc;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  position: absolute;
  z-index: 1;
}

.datepicker-inline {
  position: static;
}

.datepicker-top-left,
.datepicker-top-right {
  border-top-color: #39f;
}

.datepicker-top-left::before,
.datepicker-top-left::after,
.datepicker-top-right::before,
.datepicker-top-right::after {
  border-top: 0;
  left: 10px;
  top: -5px;
}

.datepicker-top-left::before,
.datepicker-top-right::before {
  border-bottom-color: #39f;
}

.datepicker-top-left::after,
.datepicker-top-right::after {
  border-bottom-color: #fff;
  top: -4px;
}

.datepicker-bottom-left,
.datepicker-bottom-right {
  border-bottom-color: #39f;
}

.datepicker-bottom-left::before,
.datepicker-bottom-left::after,
.datepicker-bottom-right::before,
.datepicker-bottom-right::after {
  border-bottom: 0;
  bottom: -5px;
  left: 10px;
}

.datepicker-bottom-left::before,
.datepicker-bottom-right::before {
  border-top-color: #39f;
}

.datepicker-bottom-left::after,
.datepicker-bottom-right::after {
  border-top-color: #fff;
  bottom: -4px;
}

.datepicker-top-right::before,
.datepicker-top-right::after,
.datepicker-bottom-right::before,
.datepicker-bottom-right::after {
  left: auto;
  right: 10px;
}

.datepicker-panel > ul {
  margin: 0;
  padding: 0;
  width: 102%;
}

.datepicker-panel > ul::before,
.datepicker-panel > ul::after {
  content: " ";
  display: table;
}

.datepicker-panel > ul::after {
  clear: both;
}

.datepicker-panel > ul > li {
  background-color: #fff;
  cursor: pointer;
  float: left;
  height: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 30px;
}

.datepicker-panel > ul > li:hover {
  background-color: rgb(229, 242, 255);
}

.datepicker-panel > ul > li.muted,
.datepicker-panel > ul > li.muted:hover {
  color: #999;
}

.datepicker-panel > ul > li.highlighted {
  background-color: rgb(229, 242, 255);
}

.datepicker-panel > ul > li.highlighted:hover {
  background-color: rgb(204, 229, 255);
}

.datepicker-panel > ul > li.picked,
.datepicker-panel > ul > li.picked:hover {
  color: #39f;
}

.datepicker-panel > ul > li.disabled,
.datepicker-panel > ul > li.disabled:hover {
  background-color: #fff;
  color: #ccc;
  cursor: default;
}

.datepicker-panel > ul > li.disabled.highlighted,
.datepicker-panel > ul > li.disabled:hover.highlighted {
  background-color: rgb(229, 242, 255);
}

.datepicker-panel > ul > li[data-view="years prev"],
.datepicker-panel > ul > li[data-view="year prev"],
.datepicker-panel > ul > li[data-view="month prev"],
.datepicker-panel > ul > li[data-view="years next"],
.datepicker-panel > ul > li[data-view="year next"],
.datepicker-panel > ul > li[data-view="month next"],
.datepicker-panel > ul > li[data-view="next"] {
  font-size: 18px;
}

.datepicker-panel > ul > li[data-view="years current"],
.datepicker-panel > ul > li[data-view="year current"],
.datepicker-panel > ul > li[data-view="month current"] {
  width: 150px;
}

.datepicker-panel > ul[data-view="years"] > li,
.datepicker-panel > ul[data-view="months"] > li {
  height: 52.5px;
  line-height: 52.5px;
  width: 52.5px;
}

.datepicker-panel > ul[data-view="week"] > li,
.datepicker-panel > ul[data-view="week"] > li:hover {
  background-color: #fff;
  cursor: default;
}

.datepicker-hide {
  display: none;
}